<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="content">
<h1><f:translate key="LLL:EXT:fp_masterquiz/Resources/Private/Language/locallang_be.xlf:mod.list" default="Listing for" /> {pid}</h1>
<f:flashMessages />
<f:if condition="{quizzes -> f:count()} > 0">
<f:then>
<table  class="tx_fpmasterquiz" >
	<tr>
		<th><f:translate key="tx_fpmasterquiz_domain_model_quiz.name" /></th><th>&nbsp;</th>
		<th><f:translate key="tx_fpmasterquiz_domain_model_quiz.about" /></th><th>&nbsp;</th>
		<th></th><th>&nbsp;</th>
		<th></th><th>&nbsp;</th>
		<th></th>
	</tr>
	<f:for each="{quizzes}" as="quiz">
		<tr>
			<td>{quiz.name}</td><td></td>
			<td>{quiz.about}</td><td></td>
			<td><f:link.action action="detail" arguments="{quiz : quiz, prop: 1}"><f:translate key="LLL:EXT:fp_masterquiz/Resources/Private/Language/locallang_be.xlf:mod.detail-prop" /></f:link.action></td><td></td>
			<td><f:link.action action="detail" arguments="{quiz : quiz, user: 1}"><f:translate key="LLL:EXT:fp_masterquiz/Resources/Private/Language/locallang_be.xlf:mod.detail-user" /></f:link.action></td><td></td>
			<td><f:link.action action="detail" arguments="{quiz : quiz, chart: 1}"><f:translate key="LLL:EXT:fp_masterquiz/Resources/Private/Language/locallang_be.xlf:mod.detail-chart" /></f:link.action></td>
		</tr>
	</f:for>
</table>
</f:then>
<f:else>
  <p><f:translate key="LLL:EXT:fp_masterquiz/Resources/Private/Language/locallang_be.xlf:mod.nothing" default="Nothing found." /></p>
</f:else>
</f:if>
</f:section>
</html>