<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Content">
<h1><f:translate key="LLL:EXT:fp_masterquiz/Resources/Private/Language/locallang_mod1.xlf:list" default="Listing for" /> {pid}</h1>
<f:if condition="{quizzes -> f:count()} > 0">
<f:then>
<div class="table-responsive">
<table class="table">
	<tr>
		<th><f:translate key="tx_fpmasterquiz_domain_model_quiz.name" /></th>
		<th><f:translate key="tx_fpmasterquiz_domain_model_quiz.about" /></th>
		<th>Link 1</th>
		<th>Link 2</th>
		<th>Link 3</th>
	</tr>
	<f:for each="{quizzes}" as="quiz">
		<tr>
			<td>{quiz.name}</td>
			<td>{quiz.about}</td>
			<td><f:link.action action="detail" arguments="{quiz : quiz.uid}"><f:translate key="LLL:EXT:fp_masterquiz/Resources/Private/Language/locallang_mod1.xlf:detail-prop" /></f:link.action></td>
			<td><f:link.action controller="Participant" action="list" arguments="{quiz : quiz.uid}"><f:translate key="LLL:EXT:fp_masterquiz/Resources/Private/Language/locallang_mod1.xlf:detail-user" /></f:link.action></td>
			<td><f:link.action action="charts" arguments="{quiz : quiz.uid, be : 1}"><f:translate key="LLL:EXT:fp_masterquiz/Resources/Private/Language/locallang_mod1.xlf:detail-chart" /></f:link.action></td>
		</tr>
		<f:for each="{otherQuizzes}" as="otherQuizArray">
			<f:for each="{otherQuizArray}" as="otherQuiz">
				<f:if condition="{otherQuiz.l10n_parent} == {quiz.uid}">
					<tr>
						<td style="background-color: #e8e8e8;">- {otherQuiz.name}</td>
						<td style="background-color: #e8e8e8;">{otherQuiz.about}</td>
						<td style="background-color: #e8e8e8;"><f:link.action action="detail" arguments="{quiz : otherQuiz.uid}"><f:translate key="LLL:EXT:fp_masterquiz/Resources/Private/Language/locallang_mod1.xlf:detail-prop" /></f:link.action></td>
						<td style="background-color: #e8e8e8;">-</td>
						<td style="background-color: #e8e8e8;">-</td>
					</tr>
				</f:if>
			</f:for>
		</f:for>
	</f:for>
</table>
</div>
</f:then>
<f:else>
  <p><f:translate key="LLL:EXT:fp_masterquiz/Resources/Private/Language/locallang_mod1.xlf:nothing" default="Nothing found." /></p>
</f:else>
</f:if>
</f:section>
</html>