function checkQuizForm() {
	var allSelected = true;
	var tempceuid = '{uidOfCE}';
	$('#quiz-form'+tempceuid+' .quiz-question-buttons').each(function() {
		var noneSelected = true;
		var selectedCounter = 0;
		// radio-buttons
		$(this).find('.quiz-radio').each(function() {
			selectedCounter++;
			if ($(this).hasClass('quiz-answer-selected') || $(this).hasClass('quiz-answer-optional')) {
				noneSelected = false;
			}
		});
		// Checkboxen
		$(this).find('.quiz-checkbox').each(function() {
			selectedCounter++;
			if ($(this).hasClass('quiz-answer-selected') || $(this).hasClass('quiz-answer-optional')) {
				noneSelected = false;
			}
		});
		// Select-boxen
		$(this).find('.quiz-select').each(function() {
			selectedCounter++;
			if ($(this).hasClass('quiz-answer-selected') || $(this).hasClass('quiz-answer-optional')) {
				noneSelected = false;
			}
		});
		// input-fields
		$(this).find('.quiz-input').each(function() {
			selectedCounter++;
			if ($(this).hasClass('quiz-answer-selected') || $(this).hasClass('quiz-answer-optional')) {
				noneSelected = false;
			}
		});
		// textarea
		$(this).find('.quiz-textarea').each(function() {
			selectedCounter++;
			if ($(this).hasClass('quiz-answer-selected') || $(this).hasClass('quiz-answer-optional')) {
				noneSelected = false;
			}
		});
		if (selectedCounter>0 && noneSelected) {
			allSelected = false;
			$(this).closest('.card').attr("style", "border-color:#ff0000");
		}
	});
	return allSelected;
}