<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<div class="text-buttons final">
		{settings.template.wrapDone1 -> f:format.raw()}<f:translate key="text.done" />{settings.template.wrapDone2 -> f:format.raw()}
		<f:if condition="{settings.showPoints}"><f:if condition="{participant.maximum2} > 0">
			<p><f:translate key="text.youHave" /> {participant.points}/{participant.maximum2} <f:translate key="text.gottenPoints" />
				<f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{participant.percent2}</f:format.number>%.</p>
        	<br/>
		</f:if></f:if>
		<f:if condition="{finalImageuid}">
			<f:image src="{finalImageuid}" treatIdAsReference="1" class="img-fluid" />
		</f:if>
		<f:if condition="{finalBodytext}">
			<f:format.html>{finalBodytext}</f:format.html>
		</f:if>
		<f:if condition="{finalContent}">
			<f:format.raw>{finalContent}</f:format.raw>
		</f:if>
		<f:if condition="{settings.showAnswersAtFinalPage} == 1">
			<f:for each="{participant.sortedSelections}" as="selection" iteration="pageiterator">
				<f:render partial="Question/PropertiesSent" arguments="{_all}" />
			</f:for>
		</f:if>
		<p>
		<f:if condition="{settings.startPageUid}">
		<f:then>
            <f:link.page class="btn btn-primary btn-lg" pageUid="{settings.startPageUid}" id="quiz-restart"><f:translate key="text.backToStart" /></f:link.page>
        </f:then>
        <f:else>
            <f:link.page class="btn btn-primary btn-lg" id="quiz-restart"><f:translate key="text.backToStart" /></f:link.page>
        </f:else>
        </f:if>
        </p>
	</div>
</html>
