<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="table-responsive">
<table class="table">
	<tr>
		<th>
			<f:translate key="tx_fpmasterquiz_domain_model_question.title" />
		</th>
		<th>
			<f:translate key="tx_fpmasterquiz_domain_model_question.bodytext" />
		</th>
		<th>
			<f:translate key="tx_fpmasterquiz_domain_model_question.qmode" />
		</th>
		<th>
			<f:translate key="tx_fpmasterquiz_domain_model_question.explanation" />
		</th>
		<th>
			<f:translate key="tx_fpmasterquiz_domain_model_question.image" />
		</th>
		<th>
			<f:translate key="tx_fpmasterquiz_domain_model_question.tag" />
		</th>
		<th>
			<f:translate key="LLL:EXT:fp_masterquiz/Resources/Private/Language/locallang_mod1.xlf:answers" default="Answers" />
		</th>
	</tr>
  <f:for each="{quiz.questions}" as="question">
	<tr>
		<td>
			{question.title}<f:if condition="{question.optional}">*</f:if>
			<f:if condition="{question.qmode} == 8">
				<f:for each="{question.sortedCategoriesArray}" as="category">
					<br/>- {category.title}
				</f:for>
			</f:if>
		</td>
		<td>
			<f:format.raw>{question.bodytext}</f:format.raw>
		</td>
		<td>
			<f:switch expression="{question.qmode}">
				<f:case value="0">
					<f:translate key="LLL:EXT:fp_masterquiz/Resources/Private/Language/locallang_db.xlf:tx_fpmasterquiz_domain_model_question.qmode.0" />
				</f:case>
				<f:case value="1">
					<f:translate key="LLL:EXT:fp_masterquiz/Resources/Private/Language/locallang_db.xlf:tx_fpmasterquiz_domain_model_question.qmode.1" />
				</f:case>
				<f:case value="2">
					<f:translate key="LLL:EXT:fp_masterquiz/Resources/Private/Language/locallang_db.xlf:tx_fpmasterquiz_domain_model_question.qmode.2" />
				</f:case>
				<f:case value="3">
					<f:translate key="LLL:EXT:fp_masterquiz/Resources/Private/Language/locallang_db.xlf:tx_fpmasterquiz_domain_model_question.qmode.3" />
				</f:case>
				<f:case value="4">
					<f:translate key="LLL:EXT:fp_masterquiz/Resources/Private/Language/locallang_db.xlf:tx_fpmasterquiz_domain_model_question.qmode.4" />
				</f:case>
				<f:case value="5">
					<f:translate key="LLL:EXT:fp_masterquiz/Resources/Private/Language/locallang_db.xlf:tx_fpmasterquiz_domain_model_question.qmode.5" />
				</f:case>
				<f:case value="6">
					<f:translate key="LLL:EXT:fp_masterquiz/Resources/Private/Language/locallang_db.xlf:tx_fpmasterquiz_domain_model_question.qmode.6" />
				</f:case>
				<f:case value="7">
					<f:translate key="LLL:EXT:fp_masterquiz/Resources/Private/Language/locallang_db.xlf:tx_fpmasterquiz_domain_model_question.qmode.7" />
				</f:case>
				<f:case value="8">
					<f:translate key="LLL:EXT:fp_masterquiz/Resources/Private/Language/locallang_db.xlf:tx_fpmasterquiz_domain_model_question.qmode.8" />
				</f:case>
				<f:defaultCase>NOT yet supported</f:defaultCase>
			</f:switch>
		</td>
		<td>
			<f:format.raw>{question.explanation}</f:format.raw>
		</td>
		<td>
			<f:if condition="{question.image.uid}">
				<f:image src="{question.image.uid}" treatIdAsReference="1" class="img-responsive" title="{question.image.originalResource.name}" width="150" />
			</f:if>
		</td>
		<td>
			<f:if condition="{question.tag.uid}">
				{question.tag.name}
			</f:if>
		</td>
		<td><div class="table-responsive"><table class="table">
			<f:for each="{question.answers}" as="answer" iteration="nr">
				<tr><td>{answer.title}</td><td><div class="pull-right">({answer.points})</div></td></tr>
			</f:for>
		</table></div></td>
	</tr>
  </f:for>
</table>
</div>
</html>
