<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
 
	<f:section name="content">
		<f:flashMessages />
		{settings.template.wrapQuizTitle1 -> f:format.raw()}{quiz.name}{settings.template.wrapQuizTitle2 -> f:format.raw()}
		<f:if condition="{quiz.media.0}">
			<f:media file="{quiz.media.0}" alt="{quiz.media.0.originalResource.name}" title="{quiz.media.0.originalResource.title}" />
		</f:if>
		<f:if condition="{quiz.about}">{settings.template.wrapQuizDesc1 -> f:format.raw()}{quiz.about}{settings.template.wrapQuizDesc2 -> f:format.raw()}</f:if>
		<table>
			<tr>
				<th>{f:translate(key: "text.position")}</th>
				<th>{f:translate(key: "text.participant")}</th>
				<th>{f:translate(key: "text.points")}</th>
			</tr>
			<f:for each="{participants}" as="participant" iteration="pageiterator">
				<tr>
					<td>{pageiterator.cycle}</td>
					<td>{participant.name}</td>
					<td>{participant.points}</td>
				</tr>
			</f:for>
		</table>
		<f:if condition="{settings.debug}">
			<pre>{debug}</pre>
		</f:if>
	</f:section>
</html>