<html data-namespace-typo3-fluid="true" xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:layout name="Default"/>

<f:section name="content">
    <f:flashMessages/>
    <f:form.validationResults>
        <f:if condition="{validationResults.flattenedErrors}">
            <ul class="errors">
                <f:for as="errors" each="{validationResults.flattenedErrors}" key="propertyPath">
                    <li>{propertyPath}
                        <ul>
                            <f:for as="error" each="{errors}">
                                <li>{error.code}: {error}</li>
                            </f:for>
                        </ul>
                    </li>
                </f:for>
            </ul>
        </f:if>
    </f:form.validationResults>
    <f:if condition="{settings.includeRatingCSS}">
        <f:asset.css identifier="fpMasterQuizRatingStar" href="EXT:fp_masterquiz/Resources/Public/Css/RatingStar.css" />
    </f:if>
    <f:if condition="{settings.templateLayout} == 1">
        <!-- charts-layout -->
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <script>
            var charttype = '{settings.chart.type}';
            var chartwidth = parseInt({settings.chart.width});
        </script>
    </f:if>

    {settings.template.wrapQuizTitle1 -> f:format.raw()}{quiz.name}{settings.template.wrapQuizTitle2 -> f:format.raw()}
    <f:if condition="{quiz.media.0}">
        <f:media alt="{quiz.media.0.originalResource.name}" class="img-fluid"  file="{quiz.media.0}" title="{quiz.media.0.originalResource.title}"/>
    </f:if>
    <f:if condition="{quiz.about}">
        {settings.template.wrapQuizDesc1 -> f:format.raw()}{quiz.about}{settings.template.wrapQuizDesc2 -> f:format.raw()}
    </f:if>

    <f:if condition="{quiz.timeperiod} && ({final} == 0)">
        <script>
            var quizTimePassed = parseInt({participant.timePassed});
            var quizTimePeriod = parseInt('{quiz.timeperiod}');
            var quizTimeCount = quizTimePeriod - quizTimePassed;
        </script>
        <div class="text-right" id="quiz-time-counter"><div class="alert alert-info" id="quiz-time-alert" role="alert" style="display:inline-block;">
            {f:translate(key: "text.remainingTime")}
            <span id="quiz-time-left">{quiz.timeperiod}</span>
        </div></div>
    </f:if>

    <script>
        var ceuid = '{uidOfCE}';
        var noFormCheck = {q:trueForJavaScript(value: "{settings.noFormCheck}")};
        var quizfinal = 0;
        var tagTimePeriod = 0;
        var quizIntervalId = null;
        var text_errorTimeUp = '{f:translate(key: "text.expiredTime")}';
    </script>

    <f:form id="quiz-form{uidOfCE}" method="POST">
        <f:form.hidden name="quiz" value="{quiz.uid}"/>
        <f:form.hidden name="participant" value="{participant.uid}"/>
        <f:form.hidden name="currentPage" value="{nextPage}" id="quiz-form-page"/>
        <f:form.hidden name="showAnswers" value="{showAnswersNext}"/>
        <f:form.hidden name="session" value="{session}"/>
        <f:form.hidden name="startTime" value="{startTime}" />
        <f:form.hidden name="randomPages" value="{randomPages}" />

        <f:if condition="{final} == 0">
            <f:then>

                <f:if condition="({settings.showPageNo} == 1) && ({pages} != 1)">
                    <p class="quiz-progress">{f:translate(key: "text.page")} <span>{page}</span>
                        {f:translate(key: "text.of")} {pages}
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" style="width: {pagePercent}%" role="progressbar" aria-valuenow="{pagePercent}" aria-valuemin="0" aria-valuemax="100">
                                {pagePercent}%
                            </div>
                        </div>
                    </p>
                </f:if>

                <f:if condition="{settings.allowEdit}">
                    <f:for each="{tags}" key="oneKey" as="oneTag">
                        <button name="seite{oneKey}" class="btn btn-light {f:if(condition: '{page} == {oneKey}', then: 'active')}"
                                onclick="$('#quiz-form-page').val({oneKey});$('quiz-form{uidOfCE}').submit();">
                            {oneTag}
                        </button>
                    </f:for>
                    <br /><br />
                </f:if>

                <f:if condition="{showAnswers}">
                    <f:then>

                        <!--  show answers after submit -->
                        <f:for as="selection" each="{tagSelections}" iteration="pageiterator">
                            <f:if condition="{pageiterator.isFirst}">
                                {settings.template.wrapTagName1 -> f:format.raw()}
                                    {selection.question.tag.name}
                                {settings.template.wrapTagName2 -> f:format.raw()}
                            </f:if>
                            <f:render arguments="{_all}" partial="Question/PropertiesSent"/>
                        </f:for>

                        <f:if condition="{settings.showPoints} && ({participant.maximum1} > 0)">
                            <f:comment> {participant -> f:debug(title: 'Members of participant')}</f:comment>
                            <p>{f:translate(key: "text.pointsYet")} {participant.points}/{participant.maximum1}.</p>
                        </f:if>

                        <div>
                            <div class="pull-right quiz-subm">
                                <f:form.button class="btn btn-primary btn-lg" name="quizGoOn" type="submit">
                                    <f:if condition="{pages} == {page}">
                                        <f:then>
                                            {f:translate(key: "text.gofinal")}
                                        </f:then>
                                        <f:else>
                                            {f:translate(key: "text.goon")}
                                        </f:else>
                                    </f:if>
                                </f:form.button>
                            </div>
                        </div>

                    </f:then>
                    <f:else>
                        <f:if condition="{settings.closed} || {quiz.closed}">
                            <f:then>
                                <br>
                                <div class="alert alert-danger" role="alert">
                                    <f:if condition="{quiz.qtype} == 1"><f:then>
                                        {f:translate(key: "tx_fpmasterquiz_domain_model_quiz.qtype.1")}
                                    </f:then><f:else>
                                        <f:if condition="{quiz.qtype} == 2"><f:then>
                                            {f:translate(key: "tx_fpmasterquiz_domain_model_quiz.qtype.2")}
                                        </f:then><f:else>
                                            {f:translate(key: "tx_fpmasterquiz_domain_model_quiz.qtype.0")}
                                        </f:else></f:if>
                                    </f:else></f:if>
                                    {f:translate(key: "text.isClosed")}
                                </div>
                            </f:then>
                            <f:else>
                                <!-- show questions -->
                                <f:for as="question" each="{tagQuestions}" iteration="pageiterator">
                                    <f:if condition="{pageiterator.isFirst}">
                                        {settings.template.wrapTagName1 -> f:format.raw()}
                                            {question.tag.name}
                                        {settings.template.wrapTagName2 -> f:format.raw()}
                                    </f:if>

                                    <f:render arguments="{_all}" partial="Question/Properties"/>

                                    <f:if condition="{pageiterator.isLast} && {question.tag.timeperiod}">
                                        <script>
                                            tagTimePeriod = parseInt('{question.tag.timeperiod}');
                                        </script>
                                        <div class="alert alert-info" id="quiz-time-page-alert" role="alert" style="display:block;">
                                            {f:translate(key: "text.remainingTimePage")}
                                            <span id="quiz-time-page-left">{question.tag.timeperiod}</span>
                                        </div>
                                    </f:if>
                                </f:for>

                                <f:if condition="({settings.user.askForData} == 1) && ({page} == 1)">
                                    <f:render partial="Participant/Form" arguments="{_all}" />
                                </f:if>
                                <f:if condition="({settings.user.askForData} == 2) && ({page} == 1)">
                                    <f:form.hidden name="name" value="{name}" />
                                    <f:form.hidden name="email" value="{email}" />
                                    <f:form.hidden name="homepage" value="{homepage}" />
                                </f:if>

                                <div id="quiz-error-msg" style="display:none;">
                                    <div class="alert alert-danger" role="alert">
                                        {f:translate(key: "text.errorEmpty")}
                                    </div>
                                </div>
                                <div>
                                    <div class="pull-right quiz-subm">
                                        <f:form.button class="btn btn-primary btn-lg" id="quiz-GoOn" name="quizGoOn"
                                                       type="button">
                                            <f:if condition="{pages} == {page}">
                                                <f:then>
                                                    <f:if condition="{settings.showAnswerPage} == 1">
                                                        <f:then>
                                                            {f:translate(key: "text.goon")}
                                                        </f:then>
                                                        <f:else>
                                                            {f:translate(key: "text.gofinal")}
                                                        </f:else>
                                                    </f:if>
                                                </f:then>
                                                <f:else>
                                                    {f:translate(key: "text.goon")}
                                                </f:else>
                                            </f:if>
                                        </f:form.button>
                                    </div>
                                </div>

                                <script>
                                    <f:render partial="Quiz/CheckForm" arguments="{uidOfCE: uidOfCE}"/>
                                    document.addEventListener('DOMContentLoaded', function () {
                                        <f:render partial="Quiz/CheckFields" arguments="{uidOfCE: uidOfCE}"/>
                                        <f:render partial="Quiz/ShowTime" />

                                        if (tagTimePeriod > 0) {
                                            tagIntervalId = window.setInterval(function () {
                                                tagTimePeriod--;
                                                $('#quiz-time-page-left').html(secondsTimeSpanToHMS(tagTimePeriod));
                                                if (tagTimePeriod <= 10) {
                                                    $('#quiz-time-page-alert').removeClass('alert-warning');
                                                    $('#quiz-time-page-alert').addClass('alert-danger');
                                                } else if (tagTimePeriod <= 60) {
                                                    $('#quiz-time-page-alert').removeClass('alert-info');
                                                    $('#quiz-time-page-alert').addClass('alert-warning');
                                                }
                                                if (tagTimePeriod == 0) {
                                                    clearInterval(tagIntervalId);
                                                    window.alert(text_errorTimeUp);
                                                    $('#quiz-form' + ceuid).submit();
                                                }
                                            }, 1000);
                                        }

                                        $("#quiz-GoOn").click(function () {
                                            // check if there are selected answers to all questions. if not, show an warning
                                            var allSelected = checkQuizForm();
                                            if (noFormCheck || allSelected) {
                                                $('#quiz-form' + ceuid).submit();
                                            } else {
                                                $('#quiz-error-msg').removeAttr("style");
                                                setTimeout(function() {
                                                    $('#quiz-error-msg').hide();
                                                }, 5000);
                                            }
                                        });
                                    }, false);
                                </script>
                            </f:else>
                        </f:if>
                    </f:else>
                </f:if>

                <f:if condition="{quiz.timeperiod}">
                    <script>
                        <f:render partial="Quiz/ShowTime" />

                        function setQuizCounter() {
                            if (quizTimeCount > 0) {
                                quizIntervalId = window.setInterval(function () {
                                    quizTimeCount--;
                                    $('#quiz-time-left').html(secondsTimeSpanToHMS(quizTimeCount));
                                    if (quizTimeCount <= 10) {
                                        $('#quiz-time-alert').removeClass('alert-warning');
                                        $('#quiz-time-alert').addClass('alert-danger');
                                    } else if (quizTimeCount <= 60) {
                                        $('#quiz-time-alert').removeClass('alert-info');
                                        $('#quiz-time-alert').addClass('alert-warning');
                                    }
                                    if (quizTimeCount == 0) {
                                        clearInterval(quizIntervalId);
                                        window.alert(text_errorTimeUp);
                                        $('#quiz-form' + ceuid).submit();
                                    }
                                }, 1000);
                            } else if (quizTimeCount < 0) {
                                $('#quiz-time-left').html('--');
                                $('#quiz-GoOn').prop("disabled",true);
                            }
                        }

                        document.addEventListener('DOMContentLoaded', function(){
                            $('#quiz-time-left').html(secondsTimeSpanToHMS(quizTimeCount));
                            setQuizCounter();
                        });
                    </script>
                </f:if>

                <f:if condition="{settings.resultPageUid}">
                    <br/>
                    <f:link.action action="result" arguments="{quiz:quiz}" class="btn btn-info"
                                   controller="Quiz"
                                   pageUid="{settings.resultPageUid}">{f:translate(key: "text.showResultPage")}
                    </f:link.action>
                </f:if>
                <f:if condition="{settings.highscorePageUid}">
                    <f:link.action action="highscore" arguments="{quiz:quiz}" class="btn btn-info"
                                   controller="Quiz"
                                   pageUid="{settings.highscorePageUid}">{f:translate(key: "text.showHighscorePage")}
                    </f:link.action>
                </f:if>

                <f:if condition="{showAnswers}"><f:then></f:then><f:else>
                    <f:if condition="{settings.template.optionalMark}">
                        <br><p>{settings.template.optionalMark -> f:format.raw()}{f:translate(key: "text.optional")}</p>
                    </f:if>
                </f:else></f:if>
            </f:then>
            <f:else>

                <f:render arguments="{_all}" partial="Quiz/FinalPage"/>

            </f:else>
        </f:if>
    </f:form>
    <f:if condition="{settings.debug}">
        <pre>{debug}</pre>
    </f:if>
</f:section>
</html>
