<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	<f:section name="content">
		<f:flashMessages />
		<h2>{quiz.name}</h2>
		<f:if condition="{quiz.about}"><h3>{quiz.about}</h3></f:if>
		<hr/>
		
		<f:if condition="{settings.ajax} == 1">
		<f:then>
			<f:comment> This part is used only, if AJAX is enabled! </f:comment>
			<f:form id="quiz-form{uidOfCE}" method="POST" noCacheHash="1" argumentsToBeExcludedFromQueryString="{0: 'cHash'}">
				<input type="hidden" name="type" value="{settings.typeNum}">
	            <input type="hidden" name="L" value="{sysLanguageUid}">
	            <input type="hidden" name="id" value="{uidOfPage}">
				<f:form.hidden name="action" value="showAjax" />
				<f:form.hidden name="quiz" value="{quiz.uid}" />
				<f:form.hidden name="uidOfCE" value="{uidOfCE}" />
				<f:form.hidden name="participant" value="0" id="quiz-form-parti" />
				<f:form.hidden name="currentPage" value="1" id="quiz-form-page" />
				<f:form.hidden name="showAnswers" value="0" id="quiz-form-answers" />
	            
	            <script>
					var ceuid = '{uidOfCE}';
					var quizanswers = 0;
					var quizfinal = 0;
					var maxPages = {pages};
					var showQuizAnswers = '{settings.showAnswerPage}';
		            var text_goon = '{f:translate(key: "text.goon")}';
		            var text_gofinal = '{f:translate(key: "text.gofinal")}';
				</script>
				
				<div id="quiz-ajaxCallResult"></div>
				
				<div id="quiz-button-wrap">
					<div class="pull-right quiz-subm">
						<f:form.submit value="weiter" class="btn btn-primary btn-lg" name="quizGoOn" id="quiz-GoOn" />
					</div>
				</div>
				
				<script>
					<f:render partial="Quiz/CheckForm" arguments="{uidOfCE: uidOfCE}" />
					
			        jQuery(document).ready(function ($) {
			            var form = $('#quiz-form'+ceuid);
			            var resultContainer = $('#quiz-ajaxCallResult');
			            var service = {
			                ajaxCall: function (data) {
			                    $.ajax({
			                        url: '/index.php',
			                        cache: false,
			                        type: 'POST',
			                        data: data.serialize(),
			                        success: function (result) {
			                        	// display the AJAX-result and set the JS-variable quizfinal
			                            resultContainer.html(result).show();
			                            <f:render partial="Quiz/CheckFields" arguments="{uidOfCE: uidOfCE}" />
			                            if ($('#quiz-form-page').val() > maxPages) {
			                            	if (showQuizAnswers == '0' || quizanswers == 1) {
				                            	$('#quiz-GoOn').val(text_gofinal);
			                            	}
			                            	if (quizfinal == 1) {
			                            		$('#quiz-button-wrap').hide();
			                            	}
			                            }
			                        },
			                        error: function (jqXHR, textStatus, errorThrow) {
			                            resultContainer.html('Ajax request - ' + textStatus + ': ' + errorThrow + ' ('+data.serialize()+')').fadeIn('fast');
			                        }
			                    });
			                }
			            };
			            form.submit(function (ev) {
			                ev.preventDefault();
			                var allSelected = checkQuizForm();
							if (allSelected) {
								service.ajaxCall($(this));
							} else {
								window.alert('Fehler: bitte wählen Sie erst eine Antwort aus!');
							}
			            });
			            service.ajaxCall(form);
			        });
			    </script>
		    </f:form>
		</f:then>
		<f:else>
			<f:comment> This part is used in normal case! </f:comment>
			<f:form action="show" id="quiz-form{uidOfCE}" method="POST">
				<f:form.hidden name="quiz" value="{quiz.uid}" />
				<f:form.hidden name="participant" value="{participant.uid}" />
				<f:form.hidden name="@widget_0[currentPage]" value="{nextPage}" />
				<f:form.hidden name="showAnswers" value="{showAnswersNext}" />
				<f:if condition="{final} == 0">
					<f:then>
					
						<f:if condition="{showAnswers}">
							<f:then>
							
								<!--  show answers after submit -->
								<f:widget.paginate objects="{participant.selections}" as="paginatedSelections" configuration="{settings.pagebrowser}">
									<f:for each="{paginatedSelections}" as="selection" iteration="pageiterator">
										<f:render partial="Question/PropertiesSent" arguments="{_all}" />
									</f:for>
								</f:widget.paginate>
								
								<div>
									<div class="pull-right quiz-subm">
										<f:form.submit value="weiter" class="btn btn-lg" />
									</div>
								</div>
								
							</f:then>
							<f:else>
						
								<!-- show questions -->
								<f:widget.paginate objects="{quiz.questions}" as="paginatedQuestions" configuration="{settings.pagebrowser}">
									<f:for each="{paginatedQuestions}" as="question">
										<f:render partial="Question/Properties" arguments="{_all}" />
									</f:for>
								</f:widget.paginate>
								
								<div>
									<div class="pull-right quiz-subm">
										<f:form.button type="button" name="quizGoOn" id="quiz-GoOn" class="btn btn-lg">{f:if(condition: '{pages} == {page}', then: 'Zur Auswertung', else: 'weiter')}</f:form.button>
									</div>
								</div>
						
								<script>
									var ceuid = '{uidOfCE}';
									var quizfinal = 0;
									<f:render partial="Quiz/CheckForm" arguments="{uidOfCE: uidOfCE}" />
									<f:render partial="Quiz/CheckFields" arguments="{uidOfCE: uidOfCE}" />
										
									$( "#quiz-GoOn" ).click(function() {
										// check if there are selected answers to all questions. if not, show an warning
										var allSelected = checkQuizForm();
										if (allSelected) {
											$('#quiz-form'+ceuid).submit();
										} else {
											window.alert('Bitte wählen Sie erst eine Antwort aus!');
										}
									});
								</script>
							</f:else>
						</f:if>
						
					</f:then>
					<f:else>
					
						<f:render partial="Quiz/FinalPage" arguments="{_all}" />
						
					</f:else>
				</f:if>
			</f:form>
		</f:else>
		</f:if>
	</f:section>
</html>