:root {
    --shadow: 0.3rem 0.3rem 0.6rem #aaddff,
    -0.2rem -0.2rem 0.5rem #ffffff;
}
th, td {  padding: 5px;}
#typo3-inner-docbody {padding-top: 4px;}
.f3-widget-paginator { padding-left:0; }
.f3-widget-paginator li { display:inline-block; }
.f3-widget-paginator li.current { font-weight: bold; }
input,select,table.table {
    -webkit-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}