<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div id="pollChart{selection.question.uid}"></div>
<script>
  <f:if condition="{settings.chart.type} == 'pie'"><f:then>
	var options{selection.question.uid} = {
		//title: {
		//	text: '{selection.question.title}',
		//	align: 'left'
		//},
           chart: {
               width:	chartwidth,
               type:	charttype,
           },
           labels: [<f:for each="{selection.question.answers}" as="answer3" iteration="iter3">'{answer3.title}'<f:if condition="{iter3.isLast}"><f:then></f:then><f:else>,</f:else></f:if></f:for>],
           series: [<f:for each="{selection.question.answers}" as="answer3" iteration="iter3">{answer3.allAnswers}<f:if condition="{iter3.isLast}"><f:then></f:then><f:else>,</f:else></f:if></f:for>],
           responsive: [{
               breakpoint: 480,
               options: {
                   chart: {
                       width: 200
                   },
                   legend: {
                       position: 'bottom'
                   }
               }
           }]
	}
  </f:then><f:else>
	var options{selection.question.uid} = {
         chart: {
             width:	chartwidth,
             type:	charttype,
         },
         plotOptions: {
             bar: {
                 horizontal: true,
             }
         },
         dataLabels: {
             enabled: false
         },
         xaxis: {
        	 categories: [<f:for each="{selection.question.answers}" as="answer3" iteration="iter3">'{answer3.title}'<f:if condition="{iter3.isLast}"><f:then></f:then><f:else>,</f:else></f:if></f:for>], 
         },
         series: [{
        	 data: [<f:for each="{selection.question.answers}" as="answer3" iteration="iter3">{answer3.allAnswers}<f:if condition="{iter3.isLast}"><f:then></f:then><f:else>,</f:else></f:if></f:for>]
         }]
	}
  </f:else></f:if>
	
	var chart{selection.question.uid} = new ApexCharts(
	    document.querySelector("#pollChart{selection.question.uid}"),
	    options{selection.question.uid}
	);
	chart{selection.question.uid}.render();					    
</script>
</html>