<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="card">
	<f:if condition="({settings.showPageNo} == 1) && ({settings.ajax} == 1) && ({pages} != 1) && ({final} == 0)">
	  <p class="quiz-progress">{f:translate(key: "text.page")} <span>{page}</span> {f:translate(key: "text.of")} {pages} ({pagePercent}%)</p>
	</f:if>
	<f:if condition="({settings.showQuestionNo} == 1)">
	  <p class="quiz-question-no">{f:translate(key: "text.question")} 
		<span id="quiz-questno"><f:if condition="{settings.ajax} == 1"><f:then>{pageiterator.cycle}</f:then><f:else>
			<f:if condition="{final} == 0"><f:then>{pageiterator.cycle + pageBasis}</f:then><f:else>{pageiterator.cycle}</f:else></f:if></f:else></f:if></span>
		{f:translate(key: "text.of")} {questions}</p>
	</f:if>
	{settings.template.wrapQuestionTitle1 -> f:format.raw()}{selection.question.title}{settings.template.wrapQuestionTitle2 -> f:format.raw()}
	{settings.template.wrapQuestionDesc1 -> f:format.raw()}<f:format.html>{selection.question.bodytext}</f:format.html>{settings.template.wrapQuestionDesc2 -> f:format.raw()}
	<div class="row">
		<div class="col {settings.template.colText}">
			<div class="text-buttons">
				<f:if condition="{selection.question.qmode} != 6">
					<f:if condition="{settings.showOwnAnswers}">
						<p>{f:translate(key: "text.yourAnswers")}</p>
						<ul>
						<f:for each="{selection.answers}" as="answer" iteration="nr">
							<li>
								<f:comment> {selection.question -> f:debug(title: 'Members of selection.question')} </f:comment> 
								<f:comment>When 'Enter an answer' in a text field</f:comment> 
								<f:if condition="{selection.question.qmode} == 3">
								<f:then>
									<f:comment> {selection -> f:debug(title: 'Members of selection')} </f:comment> 
									<f:comment> {answer -> f:debug(title: 'Members of answer')} / no HTML for entered Text allowed:
										<f:if condition="{settings.allowHtml} == 1"><f:then>{selection.entered -> f:format.raw()}</f:then><f:else></f:else></f:if> </f:comment>
									{selection.entered -> f:format.nl2br()}
								</f:then>
								<f:else>
									<f:if condition="{selection.question.qmode} == 7">
									<f:then>
										<div class="star-cb-rating">
											<f:for each="{selection.question.answers}" as="answer7" iteration="nr7">
									    		<f:if condition="{nr7.cycle} <= {selection.points}"><f:then>
									    			<span class="dstar">★</span>
									    		</f:then><f:else>
									    			<span class="lstar">☆</span>
									    		</f:else></f:if>
									    	</f:for>
									    </div>
									</f:then>
									<f:else>
										<f:if condition="{settings.allowHtml} == 1"><f:then>{answer.title -> f:format.raw()}</f:then><f:else>{answer.title -> f:format.nl2br()}</f:else></f:if>
										<f:if condition="{settings.showPoints}"> ({answer.points} {f:translate(key: "text.points")})</f:if>
									</f:else>
									</f:if>
								</f:else>
								</f:if>
							</li>
						</f:for>
						</ul>
					</f:if>
				
					<f:if condition="{settings.showCorrectAnswers}">
						<p>{f:translate(key: "text.correctAnswers")}</p>
						<ul>
						<f:for each="{selection.question.answers}" as="answer2" iteration="nr">
						<f:if condition="{answer2.points} > 0">
							<li>
								<f:if condition="{settings.allowHtml} == 1"><f:then>{answer2.title -> f:format.raw()}</f:then><f:else>{answer2.title -> f:format.nl2br()}</f:else></f:if>
								<f:comment>Don't show the points directly after the answer for Textbox answers </f:comment>
								<f:if condition="{selection.question.qmode} != 3">
									<f:if condition="{settings.showPoints}"> ({answer2.points} {f:translate(key: "text.points")})</f:if>
								</f:if>
							</li>
						</f:if>
						</f:for>
						</ul>
					</f:if>
				
					<f:if condition="({settings.showAllAnswers} == 1) && ({final} == 1)">
						<p>{f:translate(key: "text.allAnswers")}</p>
						<f:if condition="{settings.templateLayout} == 1">
						<f:then>
							<f:render partial="Question/Chart" arguments="{settings:settings, question:selection.question}" />
						</f:then>
						<f:else>
							<ul>
							<f:for each="{selection.question.answers}" as="answer3" iteration="nr3">
								<li>
									<f:if condition="{selection.question.qmode} == 7">
									<f:then>
									 	<span class="star-cb-rating"><!-- t: {answer3.title -> f:format.nl2br()} -->
											<f:for each="{selection.question.arrayOfAnswers}" as="reverseCycle">
												<f:if condition="{reverseCycle} < {nr3.cycle}"><f:then>
									    			<span class="lstar">☆</span>
									    		</f:then><f:else>
									    			<span class="dstar">★</span>
									    		</f:else></f:if>
										    </f:for>
									   </span>
									   ({answer3.allAnswers} {f:translate(key: "text.choices")})
										<f:if condition="{answer3.ownAnswer} > 0">({f:translate(key: "text.myChoice")})</f:if>	
									</f:then>
									<f:else>
										<f:if condition="{settings.allowHtml} == 1"><f:then>{answer3.title -> f:format.raw()}</f:then><f:else>{answer3.title -> f:format.nl2br()}</f:else></f:if>
										<f:if condition="{settings.showPoints}"> ({answer3.points} {f:translate(key: "text.points")})</f:if>
										({answer3.allAnswers} {f:translate(key: "text.choices")})
										<f:if condition="{answer3.ownAnswer} > 0">({f:translate(key: "text.myChoice")})</f:if>		
									</f:else>
									</f:if>
								</li>
							</f:for>
							</ul>
						</f:else>
						</f:if>
					</f:if>
					
					<f:if condition="{settings.showPoints}">
						<p>{f:translate(key: "text.pointsQuestion")} {selection.points}/{selection.maximumPoints}.</p>
					</f:if>
				</f:if>
			</div>
		</div>
		<div class="col {settings.template.colImage}">
			<f:if condition="{selection.question.image.uid}">
				<f:image src="{selection.question.image.uid}" treatIdAsReference="1" class="img-fluid" />
			</f:if>
		</div>
	</div>
	<f:if condition="{selection.question.explanation}">
		<br />
		<p>{f:translate(key: "text.explanation")}</p>
		<f:format.html>{selection.question.explanation}</f:format.html>
	</f:if>
</div>
<br />
</html>