<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:form.hidden name="quest_{question.uid}" value="1" />
<div class="card">
	<f:if condition="({settings.showPageNo} == 1) && ({settings.ajax} == 1) && ({pages} != 1)">
	  <p class="quiz-progress">{f:translate(key: "text.page")} <span>{page}</span> {f:translate(key: "text.of")} {pages} ({pagePercent}%)</p>
	</f:if>
	<f:if condition="({settings.showQuestionNo} == 1)">
	  <p class="quiz-question-no">{f:translate(key: "text.question")}
		<span id="quiz-questno"><f:if condition="{settings.ajax} == 1"><f:then>{pageiterator.cycle}</f:then><f:else>{pageiterator.cycle + pageBasis}</f:else></f:if></span>
		{f:translate(key: "text.of")} {questions}</p>
		<br/>
	</f:if>
	<f:comment> {question -> f:debug(title: 'Members of question')} </f:comment>
	{settings.template.wrapQuestionTitle1 -> f:format.raw()}
		{question.title}<f:if condition="{settings.template.mandatoryMark}"><f:if condition="{question.optional}"><f:then></f:then><f:else>{settings.template.mandatoryMark -> f:format.raw()}</f:else></f:if></f:if>
	{settings.template.wrapQuestionTitle2 -> f:format.raw()}
	{settings.template.wrapQuestionDesc1 -> f:format.raw()}
		<f:format.html>{question.bodytext}</f:format.html>
	{settings.template.wrapQuestionDesc2 -> f:format.raw()}
	<div class="row">
		<div class="{settings.template.colText}">
			<div class="text-buttons">
				<div class="quiz-question-buttons">
					<f:if condition="{question.qmode} == 7">
						<div class="star-cb-group">
					</f:if>
					<f:for each="{question.answers}" as="answer" iteration="nr">
						<f:switch expression="{question.qmode}">
							<f:case value="0">
								<div class="checkbox quiz-checkbox{f:if(condition: '{question.optional}', then: ' quiz-answer-optional')}{f:if(condition: '{answer.jokerAnswer}', then: ' d-none')}{f:if(condition: '{answer.ownAnswer}', then: ' quiz-answer-selected')}">
									<label>
										<f:form.checkbox name="answer_{question.uid}_{answer.uid}" value="{answer.uid}" class="quiz-checkboxes" checked="{answer.ownAnswer}" />
										<f:if condition="{settings.allowHtml} == 1"><f:then>{answer.title -> f:format.raw()}</f:then><f:else>{answer.title -> f:format.nl2br()}</f:else></f:if>
									</label>
								</div>
							</f:case>
							<f:case value="1">
								<div class="radio quiz-radio{f:if(condition: '{question.optional}', then: ' quiz-answer-optional')}{f:if(condition: '{answer.jokerAnswer}', then: ' d-none')}{f:if(condition: '{answer.ownAnswer}', then: ' quiz-answer-selected')}">
									<label>
										<f:form.radio name="answer_{question.uid}" value="{answer.uid}" class="quiz-radiobox" checked="{answer.ownAnswer}" />
										<f:if condition="{settings.allowHtml} == 1"><f:then>
											{answer.title -> f:format.raw()}
										</f:then><f:else>
											{answer.title -> f:format.nl2br()}
										</f:else></f:if>
									</label>
								</div>
							</f:case>
							<f:case value="2">
								<f:comment>Nicht für jede Antwort ein Select hinzufügen, deshalb erst später hinzufügen</f:comment>
							</f:case>
							<f:case value="3">
								<f:comment>When 'Enter an answer' in a text field</f:comment> 
								<br/>
								<div class="quiz-input{f:if(condition: '{question.optional}', then: ' quiz-answer-optional')}{f:if(condition: '{answer.ownAnswer}', then: ' quiz-answer-selected')}">
									<label>
										{f:translate(key: "text.answer.input")}
										<f:form.textfield name="answer_text_{question.uid}" value="{x->f:for(each:'{question.textAnswers}', as: 'x')}" class="quiz-inputbox" autofocus="autofocus" />
									</label>
								</div>
							</f:case>
							<f:case value="4">
								<div class="radio quiz-radio2{f:if(condition: '{answer.ownAnswer}', then: ' quiz-answer-selected')}">
									<f:if condition="{settings.allowHtml} == 1"><f:then>{answer.title -> f:format.raw()}</f:then><f:else>{answer.title -> f:format.nl2br()}</f:else></f:if> &nbsp;
									<label>
										<f:form.radio name="answer_{question.uid}_{answer.uid}" value="{answer.uid}" class="quiz-radiobox" checked="{answer.ownAnswer}" />
										{f:translate(key: "text.yes")} &nbsp;
									</label>
									<label>
										<f:form.radio name="answer_{question.uid}_{answer.uid}" value="0" class="quiz-radiobox" />
										{f:translate(key: "text.no")}
									</label>
								</div>
							</f:case>
							<f:case value="5">
								<f:comment>When 'Enter an answer' in a textarea</f:comment> 
								<br/>
								<div class="quiz-textarea">
									<label>
										{f:translate(key: "text.answer.textarea")}
										<f:form.textarea name="answer_text_{question.uid}" value="{x->f:for(each:'{question.textAnswers}', as: 'x')}" class="quiz-textbox" />
									</label>
								</div>
							</f:case>
							<f:case value="6">
								<f:comment>Nichts nötig bei 'Kommentar ausgeben'</f:comment>
							</f:case>
							<f:case value="7">
								<f:if condition="{nr.isLast}"><f:then>
								  <f:if condition="{settings.checkAllStars} != 1"><f:then>
									<f:form.radio name="answer_{question.uid}" value="{answer.uid}" id="star_{question.uid}_{answer.uid}" class="star-cb-clear" checked="checked" />
								  </f:then><f:else>
									<f:form.radio name="answer_{question.uid}" value="{answer.uid}" id="star_{question.uid}_{answer.uid}" class="star-cb-clear" />
								  </f:else></f:if>
								</f:then><f:else>
								  <f:if condition="{nr.isFirst}"><f:then>
									<f:if condition="{settings.checkAllStars} == 1"><f:then>
										<f:form.radio name="answer_{question.uid}" value="{answer.uid}" id="star_{question.uid}_{answer.uid}" checked="checked" />
									</f:then><f:else>
										<f:form.radio name="answer_{question.uid}" value="{answer.uid}" id="star_{question.uid}_{answer.uid}" />
									</f:else></f:if>								  
								  </f:then><f:else>
									<f:form.radio name="answer_{question.uid}" value="{answer.uid}" id="star_{question.uid}_{answer.uid}" />
								  </f:else></f:if>
								</f:else></f:if>
								<label for="star_{question.uid}_{answer.uid}">{answer.title -> f:format.nl2br()}</label>
							</f:case>
							<f:defaultCase>NOT yet supported</f:defaultCase>
						</f:switch>
					</f:for>
					<f:if condition="{question.qmode} == 2">
						<f:form.select size="1" name="answer_{question.uid}" options="{question.selectOptions}" class="quiz-select{f:if(condition: '{question.optional}', then: ' quiz-answer-optional')}" />
					</f:if>
					<f:if condition="{question.qmode} == 7">
						</div>
					</f:if>
				</div>
			</div>
		</div>
		<div class="{settings.template.colImage}">
			<f:if condition="{question.image.uid}">
				<f:image src="{question.image.uid}" treatIdAsReference="1" class="img-fluid" />
			</f:if>
		</div>
	</div>
</div>
<br />
<f:comment>
Hint
You can use this inline-condition for odd/even effects:
 {f:if(condition: '{pageiterator.isOdd}', then: 'order-first')}
</f:comment>
</html>
