<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Module" />
<f:section name="Content">
  <f:asset.css identifier="backendtools" href="EXT:fp_masterquiz/Resources/Public/Css/Backend.css"/>
    <h1><f:translate key="LLL:EXT:fp_masterquiz/Resources/Private/Language/locallang_mod1.xlf:moveQuestion" /></h1>
    <p>Quiz: {quiz.name}</p>
    <f:if condition="{question}">
      <f:then>
        <p><f:translate key="LLL:EXT:fp_masterquiz/Resources/Private/Language/locallang_mod1.xlf:movedQuestion" /> {question.title}</p>
      </f:then>
    </f:if>
    <p><f:translate key="LLL:EXT:fp_masterquiz/Resources/Private/Language/locallang_mod1.xlf:questionsInFolder" /></p>
    <f:for each="{questions}" as="question">
      <f:link.action controller="Question" action="move" arguments="{quiz : quiz, question : question}">{question.title}</f:link.action><br />
    </f:for>
    <br/>
    <p><f:link.action controller="Quiz" action="detail" arguments="{quiz : quiz}" class="btn btn-default"><f:translate key="LLL:EXT:fp_masterquiz/Resources/Private/Language/locallang_mod1.xlf:backtoQuiz" default="Back to list" /></f:link.action></p>
    <p><f:link.action controller="Quiz" action="index" class="btn btn-default"><f:translate key="LLL:EXT:fp_masterquiz/Resources/Private/Language/locallang_mod1.xlf:back" default="Back to list" /></f:link.action></p>
  </f:section>
</html>
