<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="content">
	<h1><f:translate key="LLL:EXT:fp_masterquiz/Resources/Private/Language/locallang_mod1.xlf:list-participants" default="Listing for" /> {pid}</h1>
	<f:flashMessages />
	<style>
		ul.f3-widget-paginator li { float: left; margin-left: 15px; }
	</style>
	<f:if condition="{settings.pagebrowser.insertAbove} && ({paginator.numberOfPages} > 1)">
		<f:render partial="Participant/Paginator" arguments="{_all}" />
	</f:if>
	<f:for each="{paginator.paginatedItems}" as="participant" iteration="iter">
	  <f:if condition="{iter.isFirst}">
		<div class="table-responsive">
		<table class="table">
		<tr>
			<th><f:translate key="tx_fpmasterquiz_domain_model_participant.name" /></th>
			<th><f:translate key="tx_fpmasterquiz_domain_model_participant.email" /></th>
			<th><f:translate key="tx_fpmasterquiz_domain_model_participant.homepage" /></th>
			<th><f:translate key="tx_fpmasterquiz_domain_model_participant.user" /></th>
			<th><f:translate key="tx_fpmasterquiz_domain_model_participant.points" /></th>
			<th><f:translate key="tx_fpmasterquiz_domain_model_participant.time" /></th>
			<th><f:translate key="LLL:EXT:fp_masterquiz/Resources/Private/Language/locallang_mod1.xlf:quiz" /></th>
			<th>Link</th>
		</tr>
	  </f:if>
		<tr>
			<td>{participant.name}</td>
			<td>{participant.email}</td>
			<td>{participant.homepage}</td>
			<td>{participant.user}</td>
			<td>{participant.points}</td>
			<td>
				{f:format.date(date: participant.startdate, format: 'd.m.y')}
				{f:format.date(date: participant.startdate, format: 'H:i:s')}
				<f:if condition="{participant.datesNotEqual}">- {f:format.date(date: participant.tstamp, format: 'H:i:s')}</f:if>
			</td>
			<td>{participant.quiz.name}</td>
			<td><f:link.action action="detail" arguments="{participant : participant}"><f:translate key="LLL:EXT:fp_masterquiz/Resources/Private/Language/locallang_mod1.xlf:details" /></f:link.action></td>
		</tr>
	  <f:if condition="{iter.isLast}">
		</table>
		</div>
	  </f:if>
	</f:for>
	<f:if condition="{settings.pagebrowser.insertBelow} && ({paginator.numberOfPages} > 1)">
		<f:render partial="Participant/Paginator" arguments="{_all}" />
		<p><f:translate key="LLL:EXT:fp_masterquiz/Resources/Private/Language/locallang_mod1.xlf:entries" />
			{pagination.startRecordNumber} - {pagination.endRecordNumber}.</p>
	</f:if>
	<p style="clear:both;"><f:translate key="LLL:EXT:fp_masterquiz/Resources/Private/Language/locallang_mod1.xlf:entries" />: {participants -> f:count()}.</p>
</f:section>
</html>