<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div id="quiz-userData">
	<br />
	<p>{f:translate(key: "text.userData")}</p>
	<div class="clearfix row form-group">
		<label class="control-label col-md-2 col-sm-4" for="name">{f:translate(key: "text.name")}:</label>
		<div class="col-md-4 vol-sm-6"><f:form.textfield name="name" value="{participant.name}" class="form-control" id="quiz-user-name" /></div>
	</div>
	<div class="clearfix row form-group">
		<label class="control-label col-md-2 col-sm-4" for="email">{f:translate(key: "text.email")}:</label>
		<div class="col-md-4 vol-sm-6"><f:form.textfield name="email" value="{participant.email}" class="form-control" id="quiz-user-email" /></div>
	</div>
	<div class="clearfix row form-group">
		<label class="control-label col-md-2 col-sm-4" for="homepage">{f:translate(key: "text.homepage")}:</label>
		<div class="col-md-4 vol-sm-6"><f:form.textfield name="homepage" value="{participant.homepage}" class="form-control" id="quiz-user-homepage" /></div>
	</div>
</div>
</html>